/vuex-ts-ignore/node_modules
/Project-4-ShoppingCart-vuex/node_modules
/Project-3-CustomEvents/node_modules
/Project-0/red project/node_modules
/nuxt-app-1/node_modules
/nuxt-app-1/.nuxt
/bucket-list-mevn/node_modules
.vscode